.final9{    
    background-image: url(./img/fiesta.jpg);
    height: 600px;
    padding: 50px;
}

.contenedor{
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

.slider-contenedor{
    width: 100%;
    display: flex;
}

.contenido-slider{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    background-color: rgba(35,35,35,0.8);
    color: white;
}

.contenido-slider:nth-child(2){
    background: rgba(35,35,35,0.8);
    color: white;
}

.contenido-slider:nth-child(3){
    background: rgba(35,35,35,0.8);
    color: white;
}

.contenido-slider > img{
    width: 400px;
}

.contenido-slider > div{
    width: 40%;
}

.contenido-slider h3{
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
}

.contenido-slider a{
    color: black;
    background: white;
    width: 100px;
    display: block;
    padding: 15px 0;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
}

.contenido-slider:nth-child(2) a{
    background: white;
    color: black;
}

@media screen and (max-width:1050px){
    .contenido-slider > img{
        width: 250px;
    }
    .contenido-slider > div{
        width: 100%;
    }
    .contenido-slider h3{
        font-size: 16px;
    }
    .contenido-slider li{
        list-style: none;
    }
}

@media screen and (max-width:830px){
    .contenido-slider{
       flex-direction: column-reverse;
    }
    .contenido-slider > img{
        width: 100%;
    }
    .contenido-slider > div{
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .contenido-slider p{
        font-size: 10px;
        text-align: center;
    }
    .contenido-slider ul{
        font-size: 10px;
        list-style: none;
        text-align:center;
    }
    .contenido-slider li{
        font-size: 8px;
        list-style: none;
        text-align:center;
        margin-left: -10px;
    }
    .contenido-slider h3{
        font-size: 10px;
        text-align: center;
        font-weight: bold;
    }
    .contenido-slider a{
        display: none;
    }
    .contenedor{
        width: 100%;
        margin: 100px 0px 0px 0px;
    }
}

@media screen and (max-width:830px){
    .contenido-slider > img{
        width: 200px;
    }
    .contenido-slider > div{
        width: 100%;
    }
    .contenido-slider h3{
        display: none;
    }
    .contenido-slider li{
        list-style: none;
        font-size: 13px;
        text-align: center;
        margin-left: -20px;
    }
}

@media only screen and (max-width: 450px) { 
    .contenido-slider{
       flex-direction: column-reverse;
    }
    .contenido-slider > img{
        width: 100%;
    }
    .contenido-slider > div{
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .contenido-slider p{
        font-size: 10px;
        text-align: center;
    }
    .contenido-slider ul{
        font-size: 10px;
        list-style: none;
        text-align:center;
    }
    .contenido-slider li{
        font-size: 8px;
        list-style: none;
        text-align:center;
        margin-left: -10px;
    }
    .contenido-slider h3{
        font-size: 10px;
        text-align: center;
        font-weight: bold;
    }
    .contenido-slider a{
        display: none;
    }
    .contenedor{
        width: 100%;
        margin: 100px 0px 0px 0px;
    }
}
