*{
  box-sizing: border-box;
}

.responsive {
  padding: 0;
  width: 100%;
  position: relative;
  display: inline-block;

}
.computadorafondo{
	width: 100%;
	height: auto;
	font-family: "Open Sans Light";
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 250px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.comienza {
	position: absolute;
	top: 10px;
	color: white;
	font-size: 75px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	width:80%;
	height: 500px;
	margin: 100px;
	text-align: center;
	padding: 10%;
}

@media only screen and (max-width: 1150px) {
  .comienza {
    width: 80%;
    margin: 80px;
    font-size: 70px;
    height: 70%;
    padding: 5%;
  }
}

@media only screen and (max-width: 830px) {
  .comienza {
    width: 80%;
    font-size: 50px;
	height: 70%;
	padding: 5%;
    margin: 50px;
  }
}

@media only screen and (max-width: 650px) {
  .comienza {
    width: 80%;
    font-size: 40px;
	height: 70%;
	padding: 5%;
	margin: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .comienza {
    width: 80%;
    font-size: 25px;
	height: 60%;
	padding: 5%;
	margin: 30px;
  }
}

@media only screen and (max-width: 360px) {
  .comienza {
    width: 75%;
    font-size: 20px;
	height: 55%;
	padding: 5%;
	margin: 30px;
  }
}

@media only screen and (max-width: 330px) {
  .comienza {
    width: 75%;
    font-size: 18px;
	height: 55%;
	padding: 5%;
	margin: 30px;
  }
}

/*---HASTA AQUI VA ---- CRE TU PROPIA PAGINA WEB-----*/
/*---DESDE AQUI VA ---- DISEÑOS DE PAG WEB-----*/

div.gallery {
  margin:10px;
  border-radius: 10px 10px 10px 10px;
  transition: width 2s, height 2s, transform 2s;
  overflow: hidden;
}

div.gallery:hover {
filter: grayscale(80%);
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
}

.responsive2 {
  float: left;
  width: 50%;
  margin: auto;
}

.diseñospag {
	width: 80%;
	height: 550px;
	margin: auto;
}

@media only screen and (max-width: 900px) { 
  .responsive2 {
    width: 100%;
  }
    .diseñospag {
	width: 80%;
	height: 650px;
	}
}

/*---PLANES EN OTRO CSS-----*/

.formulario h1{
	font-family:bold, "Josefin Slab", serif;
	font-size: 45px;
	text-align: center;
	margin-top: 100px;
}

.formulario2{
	margin-left: 540px;
	font-family: 'Cormorant Upright';
	font-size: 30px;
}

.iconos ul{
	width: auto;
	text-decoration: none;
	float: right;
	margin-right: 10px;
	margin-bottom: -100px;
	background-color: black;
	bottom: 0px;
}

.iconos li{
	float: left;
	list-style: none;
	margin-left: 20px;
	margin-bottom: 50px;
}

.pregfrec {
	text-decoration: none;
	color: black;
	margin-left: -230px;
	background-color: rgba(217, 217, 217, 0.8);
	box-shadow: 2px 2px 8px black;
	padding-right: 10px;
	padding-left: 10px;
}

.cafe {
	height: 700px;
	background-color: black;
	position: relative;
	width: 100%;
	display: inline-block;
}

.cafe2 {
	background-color: white;
	margin: 5%;
	position: absolute;
	height:80%;
	width: 90%;
}

.cafetxt {
	width: 44.99999%;
	float: left;
	text-align: left;
	margin-left: 3%;
	margin-top: 5%;
	display: inline;
	overflow: hidden;
}

.cafetxt h2{
	font-family:bold, "Josefin Slab", serif;
	font-size: 50px;
}

.cafetxt p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: lighter;
}

.cafetxt ul{
	margin-top: 3%;
	font-family: 'Josefin Sans', sans-serif;
}

.cafetxt li{
	font-size: 24px;
	font-weight: lighter;
}

.cafecompu {
	width: 44.99999%;
	float: right;
	background-image: url(../img/funciona.jpg);
	background-attachment: fixed;
	height: 100%;
	background-size: 100%;
}

.cafecompu img{
	margin-left: 20%;
	margin-top: 30%;
	width: 60%;
}

@media only screen and (max-width: 1040px) {
  .cafe {
  	width: 100%;
  	height: 600px;
  	margin: 0;
    }
  .cafetxt h2{
  	font-size: 40px;
    }
  .cafetxt p{
  	font-size: 20px;
    }
  .cafetxt li{
  	font-size: 20px;
    }
.cafetxt {
	margin-top: 30px;
    }
}

@media only screen and (max-width: 925px) {
.cafetxt {
	margin-top: 20px;
    }
.cafe {
  	width: 100%;
  	height: 550px;
  	margin: 0;
    }
.cafetxt h2{
  	font-size: 38px;
    }
.cafetxt p{
  	font-size: 18px;
    }
.cafetxt li{
  	font-size: 18px;
    }
}

@media only screen and (max-width: 825px) {
.cafetxt {
	margin-top: 20px;
    }
.cafe {
  	width: 100%;
  	height: 500px;
  	margin: 0;
    }
.cafetxt h2{
  	font-size: 36px;
    }
  .cafetxt p{
  	font-size: 16px;
    }
  .cafetxt li{
  	font-size: 16px;
    }
}

@media only screen and (max-width: 580px) {
.cafe {
	height: 800px;
	background-color: black;
	position: relative;
	width: 100%;
	display: inline-block;	
    }
.cafe2 {
	background-color: white;
	margin: 5%;
	position: absolute;
	height:80%;
	width: 90%;
    }
.cafetxt {
	width: 95%;
	float: left;
	text-align: left;
	margin-left: 3%;
	margin-top: 5%;
	display: inline;
	overflow: hidden;
    }
.cafetxt h2{
	font-size: 50px;
    }   
.cafetxt p{
	font-size: 20px;
    }
.cafetxt ul{
	margin-top: 3%;
    }
.cafetxt li{
	font-size: 20px;
    }
.cafecompu {
	width: 100%;
	float: right;
	background-image: url(../img/funciona.jpg);
	background-attachment: fixed;
	height: 400px;
	background-size: 100%;
    }
.cafecompu img{
	margin-left: 20%;
	margin-top: 30%;
	width: 60%;
	}
}

@media only screen and (max-width: 520px) {
.cafe{
	height: 700px;
    }

.cafe2 {
	height:80%;
	width: 90%;
    }
.cafetxt {
	width: 95%;
	margin-left: 3%;
	margin-top: 5%;
    }
.cafetxt h2{
	font-size: 35px;
    }
.cafetxt p{
	font-size: 18px;
    }
.cafetxt ul{
	margin-top: 3%;
	}
.cafetxt li{
	font-size: 18px;
    }
.cafecompu {
	width: 100%;
	float: right;
	background-image: url(../img/funciona.jpg);
	background-attachment: fixed;
	height: 340px;
	background-size: 100%;
    }
.cafecompu img{
	margin-left: 20%;
	margin-top: 30%;
	width: 60%;
	}
}

@media only screen and (max-width: 470px) {
.cafe {
	height: 600px;
	background-color: black;
	position: relative;
	width: 100%;
	display: inline-block;
	}
.cafe2 {
	height:80%;
	width: 90%;
    }
.cafetxt {
	width: 95%;
	margin-left: 3%;
	margin-top: 5%;
    }
.cafetxt h2{
	font-size: 30px;
    }      
.cafetxt p{
	font-size: 14px;	
    }
.cafetxt ul{
	margin-top: 3%;
	}
.cafetxt li{
	font-size: 14px;
    }
.cafecompu {
	width: 100%;
	float: right;
	background-image: url(../img/funciona.jpg);
	background-attachment: fixed;
	height: 300px;
	background-size: 100%;
    }
.cafecompu img{
	margin-left: 20%;
	margin-top: 30%;
	width: 60%;
	}
}

@media only screen and (max-width: 360px) {
.cafe {
	height: 550px;
	background-color: black;
	position: relative;
	width: 100%;
	display: inline-block;
    }
.cafe2 {
	height:80%;
	width: 90%;
    }
.cafetxt {
	width: 95%;
	margin-left: 3%;
	margin-top: 5%;
    }
.cafetxt h2{
	font-size: 28px;
    }
.cafetxt p{
	font-size: 12px;
    }
.cafetxt ul{
	margin-top: 3%;
	}
.cafetxt li{
	font-size: 12px;
    }
.cafecompu {
	width: 100%;
	float: right;
	background-attachment: fixed;
	height: 270px;
	background-size: 100%;
    }
.cafecompu img{
	margin-left: 20%;
	margin-top: 30%;
	width: 60%;
	}
}

.pie{
  background-image: url(divgris.png);
  height: 500px;
  width: 100%;
    }
.pielogo{
	float: left;
	width: 40%;
	margin: 5%;
    }
.pielogo img{
	width: 50%;
    }
.pielogo p{
  margin-top: 20px;
  font-family: "Microsoft JhengHei Light";
  font-size: 20px;
    }
.pielogo a{
	text-decoration: none;
	color: gray;
    font-family: "Josefin Slab", serif;
    }
.piecontacto{
  width: 40%;
  margin: 5%;
  margin-top: 15%;
  float: right;
  font-family: "Microsoft JhengHei Light";
    }
.piecontacto h4{
  font-family: "Microsoft JhengHei Light";
  font-size: 18px;
    }
.piecontacto hr{
  width: 50%;
  margin-bottom: 20px;
    }
.mail{
  text-decoration: none;
  color: black;
  font-family: "Microsoft JhengHei Light";
    }
.cel{
  text-decoration: none;
  color: black;
  font-family: "Microsoft JhengHei Light";
    }
.piefinal{
  background-color: black;
  height: 60px;
    }
.piefinal h5{
  color: white;
  padding: 20px;
    }

@media only screen and (max-width: 900px) {
	.formulario h1{
		font-size: 50px;
		margin-top: 100px;
		}
	.piecontacto{
		margin-top: 30%;
		}
	.pielogo img{
		width:80%;
		}
	.pielogo p{
		margin-top: 20px;
		font-size: 20px;
		}
	.pielogo a{
		font-size: 14px;
		}
	.pie{
		height: 400px;
		}
	.piecontacto h4{
		font-family: "Microsoft JhengHei Light";
		font-size: 14px;
		}
	.mail{
		font-size: 12px;
		}
	.cel{
		font-size: 12px;
		}
}

@media only screen and (max-width: 750px) {
	.formulario h1{
		font-size: 35px;
		margin-top: 100px;
		}
	.piecontacto{
		margin-top: 25%;
		}
	.pielogo img{
		width:80%;
		}
	.pielogo p{
		margin-top: 20px;
		font-size: 15px;
		}
	.pielogo a{
		font-size: 14px;
		}
	.pie{
		height: 300px;
		}	
	.piecontacto h4{
		font-family: "Microsoft JhengHei Light";
		font-size: 14px;
		}
	.mail{
		font-size: 12px;
		}
	.cel{
		font-size: 12px;
		}
}

@media only screen and (max-width: 450px) {
	.formulario h1{
		font-size: 30px;
		margin-top: 100px;
		}
	.piecontacto{
		margin-top: 30%;
		}
	.pielogo img{
		width:80%;
		}
	.pielogo p{
		margin-top: 20px;
		font-size: 10px;
		}
	.pielogo a{
		font-size: 14px;
		}
	.pie{
		height: 200px;
		}
	.piecontacto h4{
		font-family: "Microsoft JhengHei Light";
		font-size: 8px;
		}
	.mail{
		font-size: 12px;
		}
	.cel{
		font-size: 12px;
		}
}

.ejemplodiseño{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 45px;
	font-family:'Josefin Slab', serif;
	}
.ejemplodiseño2{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 45px;
	font-family:'Josefin Slab', serif;
	}

@media only screen and (max-width: 500px) {
	.ejemplodiseño{
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
		font-size: 30px;
		font-family:'Josefin Slab', serif;
		}
	.ejemplodiseño2{
		margin-top: 10px;
		margin-bottom: 50px;
		text-align: center;
		font-size: 30px;
		font-family:'Josefin Slab', serif;
		}
}

#misdiseños{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 50px;
	font-family:Camelot MF;
	}
#misplanes{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 50px;
	font-family:Camelot MF;
	}